.emailList{
    flex: 1;
    scrollbar-width: none;
    overflow: scroll;
}
.emailList::-webkit-scrollbar{
    display: none;
}
.emailList_settings{
    display: flex;
    justify-content:space-between;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    padding-right: 10px;
    z-index: 999;
}
.emailList_sections{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color:white;
    border-bottom: 1px solid whitesmoke;
}
.emailList_list{
    padding-bottom: 20%;
}

